<%- include("partial/header") %>
<%- include("partial/navbar") %>

<div class="home-container">

    <div class="info-card">
        <div class="popup popup-open">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
            </svg>
        </div>
        <div class="popup popup-close inactive">Close
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
            </svg>
        </div>
        <a class="info-link inactive" href="/home">My Blog
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/>
            </svg>
        </a>
        <a class="info-link inactive" href="/search" name="search_user" value="">Browse
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/>
            </svg>
        </a>
        <a class="info-link inactive" href="/logout">Log out
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
            </svg>
        </a>
    </div>

    <div class="post-container">
        <a class="post-content" href="/posts/id">
            <h1 class="post-title">Title</h1>
            <p class="post-user">Posted by: randomPersonbyhghghghghghghghghghghhghghghghghghghghhghghghghgh</p>
            <p class="post-date">The post date</p>
            <p class="post-blog">the content in whihc the blog swould be created from but jesus criset i am going to need to copy a really long senetence hfuriuiehgegjg
                jghidghirgirislg
                hfsghieijgskhgrit
                flhswht is that tloke because who would have thought 
                kkfkfkfkfshfirhgshgs;g
                sghrihwhat 
                wy is this so header lldldldlddlldldldldldldldlldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldldld
            </p>
        </a>
    </div>

    <div class="post-container">
        <div class="post-content">
            <p class="post-user">Posted by: username</p>
            <h1 class="post-title">Title</h1>
            <p class="post-date">The post date</p>
            <p class="post-blog">the content in whihc the blog swould be created from but jesus criset i am going to need to copy a really long senetence hfuriuiehgegjg
                jghidghirgirislg
                hfsghieijgskhgrit
                flhswht is that tloke because who would have thought 
                kkfkfkfkfshfirhgshgs;g
                sghrihwhat 
                wy is this so header
            </p>
        </div>
    </div>

    <div class="post-container">
        <div class="post-content">
            <p class="post-user">Posted by: username</p>
            <h1 class="post-title">Title</h1>
            <p class="post-date">The post date</p>
            <p class="post-blog">the content in whihc the blog swould be created from but jesus criset i am going to need to copy a really long senetence hfuriuiehgegjg
                jghidghirgirislg
                hfsghieijgskhgrit
                flhswht is that tloke because who would have thought 
                kkfkfkfkfshfirhgshgs;g
                sghrihwhat 
                wy is this so header
            </p>
        </div>
    </div>
<%- include("partial/footer") %>