
<script>
    function togglePanel() {
        const panel = document.querySelectorAll("div.popup-close, a.info-link, button.info-link");
        Array.from(panel).forEach((element) => {
            element.classList.toggle("inactive");
        });
        document.querySelector("div.popup-open").classList.toggle("inactive");
    }
    if(document.querySelectorAll(".post-container")) {
        document.querySelectorAll(".delete").forEach((button) => {
            button.addEventListener("click", async function() {
    
                const postid = this.parentElement.parentElement.id;
                const result = await fetch(`/post/${postid}`, {
                    method: "DELETE",
                })
                .then(response => {
                    console.log(response)
                    if(!response.ok) {
                        throw new Error("User not authorised or item not found");
                    }
                    document.getElementById(`${postid}`).remove();
                })
                .catch(error => {console.log(error)});

            })
        });
    }

    if(document.querySelector(".info-card")) {
        document.querySelector(".popup-open").addEventListener("click", togglePanel);
        document.querySelector(".popup-close").addEventListener("click", togglePanel);
    }

    if(document.querySelector("#logout")) {
        document.querySelector("#logout").addEventListener("click", async function() {
            await fetch("/logout", 
            {method: "POST",})
            .then(response => {
                if(!response.ok) {
                    throw new Error("Logout process failed");
                }
                window.location.href = "/login";
                
            })
            .catch(error => console.log("Error while logging out"));
        })
    }

</script>

</body>
</html>

